{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block extraheader %}{% endblock %}
{% block body %}
	<div class="jumbotron">
		<h1>Mobile Garage Sale</h1>
		<p class="lead">Sifting through classified ads is difficult and nearby garage sales rarely have exactly what you need when you need it. "Mobile Garage Sale" takes the hassle out of buying and selling stuff on-the-go.</p>
		<p><a class="btn btn-primary btn-lg" href="/chat" role="button">Chat in the marketplace!</a></p>
	</div>
{% endblock %}
